.message {
padding: 10px;
border-radius: 10px;
margin-bottom: 4px;
white-space: pre-wrap;
margin-top: 5px;
}


.other-message{
background-color: var(--ion-color-tertiary);
color: #fff;
}


.my-message{
    background-color: var(--ion-color-secondary);
    color: #fff;
    margin-left: auto;
}


.time{
color:  #dfdfdf;
float: right;
font-size: small;
}


.message-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.msg-btn{
    --padding-start: 0.5em;
    --padding-end: 1em;

}

