<ion-content class="ion-padding container">

  <div class="container">
    <img class="imagen" src="../../../assets/icon/chat-group.png" />

  <ion-title class="ion-text-center titulo">Cryptochat App</ion-title>
<br>
  <ion-item>
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password"  [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  
  <br>
  
  <ion-button color="primary" (click)="Ingresar()" expand="block" shape="round">
    Entrar
  </ion-button>
</div>

<p style="font-size: 12px !important; text-align: center;" [routerLink]="['/register']">No estas registrado (registrate)</p>
  
</ion-content>

<app-footer></app-footer>