.container {
    margin-top: 22vh;
    margin-bottom: 5vh;;
}

.titulo {
    margin-top: 1px;
}

.margin {
    margin-top: 15px;
}

.imagen {
 margin-bottom: 2rem;
 
 
@media only screen and (min-width: 320px) {

  margin-left: 5rem;
}


@media only screen and (min-width: 360px) {
  margin-left: 6rem;
}

@media only screen and (min-width: 375px) {
    margin-left: 7rem;
  }

@media only screen and (min-width: 411px) {
    margin-left: 8rem;
  }
}

.footer{
  font-size: 12px; 
  text-align: center;  
}