<ion-content class="ion-padding container">

  <div class="container">
    <img class="imagen" src="../../../assets/icon/chat-group.png" />

  <ion-title class="ion-text-center titulo">ChatGroup App</ion-title>


  <ion-button  class="margin" expand="block" color="danger" (click)="Ingresar('google')">Ingresa con Gmail</ion-button>
  <ion-button  class="margin" expand="block" color="primary" (click)="Ingresar('facebook')">Ingresa con Facebook</ion-button>
  </div>

  
</ion-content>

<ion-footer class="footer">
    <p>Desarrollada por Joel Toribio </p>
    <p>Todos los derechos son reservados </p>
</ion-footer>