.container {
    margin-top: 5vh;
    margin-bottom: 3vh;;
}

.titulo {
    margin-top: 1px;
}

.margin {
    margin-top: 15px;
}

.avatar {
 margin-bottom: 2rem;


@media only screen and (min-width: 320px) {

  margin-left: 7rem;
}


@media only screen and (min-width: 360px) {
  margin-left: 8rem;
}

@media only screen and (min-width: 375px) {
    margin-left: 9rem;
  }

@media only screen and (min-width: 411px) {
    margin-left: 10rem;
  }

  @media only screen and (min-width: 640px) {
    margin-left: 17rem;
  }
}

.footer{
  color: white;
  font-size: 12px; 
  text-align: center;  
}